html{
    background-color: #f8f9fa;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container{
    display: flex;
    width: 100%;
    height: 100%;
    /* align-items: center; */
    justify-content: center;
    
    


}
.body-wrapper{
    display: flex;
    width: 50%;
    flex-direction: column;
}

.filter-section{
    display: flex;   
    width: 100%;
    flex-direction: column;
    margin-bottom: 2em;
    
   
     /* border: 1px solid red; */

}
.filter-header{
    font-weight: lighter;
    justify-content: flex-end;
    font-size: 2em;
    padding-top: 15px;
    
}

.filter-box{
    display: flex;    
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 170px;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,.03);
    margin-bottom: 1em;
    padding: 15px;
    cursor: pointer;
    transition: 1s ease;


}
.filter-box:hover{
    transform: scale(1.1);
    transition: 1s ease;

}
.filter-year{
    font-size: 1.5em;
    font-weight: bolder;

}

.filter-gender{
    font-size: 1em;
    text-transform: capitalize;

}
.filter-countries{
    display: flex;
    min-width: 65%;
    max-width:70%;
    
    flex-direction: row;
    justify-content: center;
     


}

.country{
     
    width:25%;
     
     height: 30px;
     display: flex;
     flex-wrap: nowrap;
     padding: 3px;
     
     border-radius: 30px;
     align-items: center;
     justify-content: center;
     /* border: 1px solid yellow; */
     background-color: #f8f9fa;
     color: #6c757d !important;
     font-weight: bold;
     margin: 3px;
     font-size: 75%;

}

.filter-colors{
    display: flex;
     flex-direction: row;
     width: 100%;
     justify-content: center;

}

.color{
    width: 30px;
    height: 30px;
    border-radius: 500px;
    /* border:1px solid pink; */
    margin: 3px;
    background-color: hotpink;
}
.body-section{
    display: flex;
    width: 100%;
    flex-direction: column;


}

.owner-card{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    /* border:1px solid black; */
    height: 170px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .03);
    margin-bottom: 2em;
    padding: 15px;
    background-color: #ffffff;
    transition: 1s ease;

}
.owner-card:hover {
    transform: scale(1.1);
    transition: 1s ease;

}
.card-image{
    display: flex;
    width: 30%;
    height: 150px;
    /* border:1px solid green; */
    border-radius: 5px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .03);

}
.card-image-style{
    max-width: inherit;
    height: inherit;
}
.card-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    
}
.card-name{
    font-size: 150%;

}
.card-branding{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    
}
.brand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50px;
        padding-right: 10px;
        border-right: 1px solid black;
}
.year{
    display: flex;
    flex-direction: column;
     justify-content: space-between;
     padding-right: 10px;
     border-right: 1px solid black;

}
.card-color{
    display: flex;
    flex-direction: column;
     justify-content: space-between;
     padding-right: 10px;
     
}
.card-color-style{
     width: 30px;
     height: 30px;
     border-radius: 500px;
     /* border:1px solid pink; */
    
     background-color: yellow;

}

.card-country{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
.card-info-country{
    display: flex;
    flex-direction: column;

}
.job{
    display: flex;
    flex-direction: column;

}
.gender {
    display: flex;
    flex-direction: column;

}
.color-grey{
    color: #c6c6c6;
}
.card-email{

}
.card-bio{

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .card-image {
        justify-content: center;


    }
    .card-info {
       width: 90%;
        justify-content: center;
        align-items: center;

    }
    .owner-card {
        height: auto;
    }

    .filter-box{
        min-height: 200px;
        height: auto;
    }

    .filter-countries {
      width: 50%;
      flex-wrap: wrap;



    }

    .country {

        width: 25%;

        

    }

    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    /* .owner-card{
        height: auto;
    } */
    .card-image {
        justify-content: center;
        


    }
    .card-info {

        

    }
   
}


